# 忽略本地依赖包缓存
node_modules

.idea
.vscode

# 忽略打包目录
dist
build
release
dist_electron

# 忽略文档目录下backup和icon目录
doc/backup
doc/icon

# 忽略public目录中的js文件
public/*.js

# 忽略主进程模块下的服务api目录下(默认接口实现部分除外)
src/main/server/api/lib*
!src/main/server/api/lib0