html, body, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    background: rgb(236, 236, 236);
}

.v-row {
    display: flex;
    align-items: center;
}

.v-column {
    display: flex;
    flex-direction: column;
}

/****************** WindowStateBar ***********************/
.window-state-bar {
    flex: 1;
    justify-content: flex-end;
}

.window-state-bar .icon {
    -webkit-app-region: no-drag;
}

.window-state-bar > .icon {
    margin: 2px 8px;
    padding: 6px;
}

.window-state-bar > .separator {
    height: 1em;
    display: flex;
    margin: 0 0.5em;
    border-left: 2px solid #222;
}

.window-state-bar:not(.viewer) > .icon:hover {
    background: rgba(210, 212, 216, 0.8);
}

.window-state-bar:not(.viewer) > .icon.close:hover {
    background: rgb(232, 17, 35);
    fill: white;
}

.window-state-bar.viewer > .icon:hover {
    cursor: pointer;
    fill: #f56c6c;
    /*#eebe76*/
}

.window-state-bar:not(.viewer) > .icon {
    width: 1em;
    height: 1em;
}

.window-state-bar.viewer > .icon {
    width: 1.75em;
    height: 1.75em;
}

.window-state-bar.viewer > .icon {
    width: 1.5em;
    height: 1.5em;
}

.window-state-bar.viewer .icon {
    fill: rgb(210, 210, 210);
}

/****************** Header-TitleBar ***********************/
.title-bar {
    -webkit-app-region: drag;
}

.title-bar .icon, .title-bar .user-icon, .title-bar .user-name, .title-bar .text-field {
    -webkit-app-region: none;
}

/* 设置间距,用以鼠标在窗口边沿操作(如缩放) 在Electron16开始不需要设置此样式,也可以在窗口边缘resize */
/*.title-bar.un-maximized { margin: 2px 2px 0 2px;}*/

.title-bar .user-icon.cover {
    width: 3em;
    height: 3em;
    background: none;
    border-radius: 3em;
}

.title-bar .user-icon.container {
    width: 3em;
    height: 3em;
    overflow: hidden;
    border-radius: 3em;
    box-sizing: border-box;
    background: rgb(188, 191, 193);
}

.title-bar .user-icon.container > .icon {
    width: 4em;
    height: 4em;
    margin: 0 0 0 -8px;
    fill: rgb(251, 251, 251);
}

.title-bar .user-name {
    margin: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-bar .icon.disabled {
    opacity: 0.2;
    pointer-events: none;
}

.title-bar > .option-container > .icon {
    margin: 0 4px;
    padding: 6px;
    width: 1em;
    height: 1em;
}

.title-bar > .option-container > .icon:hover {
    background: rgba(210, 212, 216, 0.8);
}

.fixed-left-bar {
    flex: none;
    width: 200px;
    /*
        border-box :元素实际部分为指定的宽高 (内容部分 = 指定的为实际宽高 - 边框 - 内边距)
        content-box:元素内容部分为指定的宽高 (实际部分 = 指定的为内容宽高 + 边框 + 内边距)
     */
    box-sizing: border-box;
    background: rgb(241, 241, 241);
}

.tab-pane {
    flex: auto;
    display: flex;
    overflow: hidden;
}

.tab-pane .tab {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;
    font-size: 1.125em;
    color: var(--tab-text-base);
}

.tab-pane .tab > .icon {
    margin: 0 12px 0 0;
    fill: var(--tab-text-base);
}

.tab-pane .tab:hover {
    background: var(--tab-fill-hover);
}

.tab-pane .tab.active {
    color: var(--tab-text-active);
    background: var(--tab-fill-active);
}

.tab-pane .tab.active > .icon {
    fill: var(--tab-text-active);
}

.tab-pane > .tab-content {
    flex: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.tab-pane.v-column .tab-content {
    padding: 1em 0 0 0;
}

.tab-pane.v-column .tab-container .tab {
    padding: 0;
    height: 2em;
    width: 4.5em;
    background: none;
    flex-direction: column;
    color: var(--tab-horizontal-text-base);
}

.tab-pane.v-column .tab-container .tab:not(:last-child) {
    margin: 0 2.5em 0 0;
}

.tab-pane.v-column .tab-container .tab:after {
    content: '';
    height: 3px;
    width: 100%;
    display: block;
    transform: scaleX(0);
    margin: 0.25em 0 0 0;
    background: var(--tab-horizontal-fill-base);
    transition: transform 0.3s ease-in-out;
}

.tab-pane.v-column .tab-container .tab:hover:after {
    transform: scaleX(1);
}

.tab-pane.v-column .tab-container .tab.active {
    color: var(--tab-horizontal-text-active);
}

.tab-pane.v-column .tab-container .tab.active:after {
    transform: none;
    transition: none;
}

.v-row.has-margin > .button {
    margin: 0 4px;
}

/* 设置图片不可拖动 */
.cover {
    -webkit-user-drag: none;
}

.data-container {
    align-items: stretch;
    color: var(--text-base);
}

.data-container .cover {
    width: 13em;
    height: 13em;
    border-radius: 50%;
}

.data-container .v-column {
    justify-content: space-around;
    margin: 1em;
}

.data-container .statistic-item:nth-child(n + 2)::before {
    content: '|';
    margin: 0 1.5em;
}

.data-container .button {
    margin: 0 1.5em 0 0;
}

.table .table-cell > .icon.mv-icon {
    flex: none;
    fill: #eb5183;
    margin: 0 0 0 0.25em;
    cursor: pointer;
}

/****************** 登录模态框 ***********************/
#login-modal > .modal-content > .content > #qq-input {
    flex: 1;
    outline: none;
    resize: none;
    font-size: 18px;
    border: none;
    width: 100%;
    color: #c73d3d;
    border-radius: 0.25em;
    background: rgb(245, 245, 245);
}

#login-modal > .modal-content > .content > .button {
    color: white;
    margin: 1em 0.25em 0;
    font-size: 18px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 25px;
    background: rgb(226, 155, 208);
    width: 300px;
}

#timer-modal .content {
    color: var(--text-base);
}

#timer-modal .content > .v-column > .v-row {
    margin: 0.5em 0;
}

#timer-modal .content .text-field {
    margin: 0 0 0 1em;
}

#timer-modal .content .button {
    background: rgb(226, 155, 208);
    width: 30%;
    font-size: 18px;
    border-radius: 1em;
}